2,000명의 코드잇 대학교 학생들이 수강신청을 했습니다.

수강신청에는 다음 3개의 조건이 있습니다.

“information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.


“commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.


수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.


기존 DataFrame에 “status”라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 “allowed”, 수강 불가능한 상태이면 “not allowed”를 넣어주세요.

In [3]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')

In [ ]:
condition1 = (df['year'] > 1) & (df['course name'] != 'information technology')
condition1.value_counts()

In [ ]:
condition2 = (df['year'] < 4) & (df['course name'] != 'commerce')

In [ ]:
count = df['course name'].value_counts()
condition3 = count < 5

In [ ]:
df['status'] = condition1 or condition2 or condition3
df['status'].value_counts()

In [4]:
df

           id  year           course name
0     2777729     1               science
1     2777730     2               science
2     2777765     1                  arts
3     2777766     2                  arts
4     2777785     1                   mba
...       ...   ...                   ...
1995  2796805     3  computer application
1996  2796812     1               nursing
1997  2796813     2               nursing
1998  2796814     3               nursing
1999  2796815     4               nursing

[2000 rows x 3 columns]

# 위의 방법은 틀렸음

2,000명의 코드잇 대학교 학생들이 수강신청을 했습니다.

수강신청에는 다음 3개의 조건이 있습니다.

1. “information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.


2. “commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.


3. 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.


기존 DataFrame에 “status”라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 “allowed”, 수강 불가능한 상태이면 “not allowed”를 넣어주세요.

어떤 열을 만들고 싶을 때는, 일단 디폴트 값으로 어떠한 값이라도 넣도록 설정해줘야 한다.

In [10]:
df['status'] = 'allowed'

In [11]:
condition1 = df['course name'] == 'information technology'
condition2 = df['year'] == 1
df.loc[condition1 & condition2, 'status'] = 'not allowed'

In [12]:
condition3 = df['course name'] == 'commerce'
condition4 = df['year'] == 4
df.loc[condition3 & condition4, 'status'] = 'not allowed'

In [17]:
allowed = df['status'] == 'allowed'

In [22]:
course_counts = df.loc[allowed, 'course name'].value_counts()
closed_courses = list(course_counts[course_counts < 5].index)

In [23]:
print(closed_courses)

['information subjects', 'electrical engg', 'refactoring', 'chemical', 'korean', 'computer architecture', 'electrical and electronics engineering', 'database', 'bpt', 'electronics & communication engineering', 'physical education', 'electronics and communication', 'computer engg with specialization in cloud computing.', 'mech', 'fashion communication', 'pathology', 'leather design', 'mechanical engg.', 'agriculture', 'tool & die making', 'data structure', 'electros & communicationnic', 'civil engg', 'environment', 'mechanical related subjects', 'engg. & tech.', 'instrumentation engineering', 'applied sc.', 'electronics and instrumentation', 'software computer science', 'comp(em)', 'diploma', 'saskrit', 'diploma in computer engineering', 'b.com.(gen.e/m)', 'master of computer application', 'deee', 'pol-science', '3 year ll.b course', 'buisiness administration', 'c bc bt', 'bcom marketing', 'bsc bzc', 'bca', 'tax procedure and practice', 'music vocal', 'eep', 'gandhian thought', 'dcp', 'em', 'rasshastra evum bhaisgya kalpana', 'mobile communication', 'co-operation', 'i.t', 'tm', 'admistrator', 'm.i.l', 'electronics & communication engineeering', 'compulsory', 'bbi', 'co', 'res', 'electronics & comm engg', 'microbiology-botany-chemistry', 'sahitya', 'cmmerce', 'english literature', 'jain darshan', 'kayachikitsa', 'professional  accounting', 'applied science & humanities', 'corporate secaratoryship', 'administration services', 'anaesthesiology', 'bcom (general)', 'digital electronics', 'btzc', 'bsc mpe', 'discipline', 'bcom finance and taxation', 'computers', 'travel tourism & hospitality management', 'yes', 'mca 2nd shift', 'electronics & comm. engg.', 'if', 'bsc btmc', 'b.com (p)', 'electronic', 'computer engg', 'all subjects', 'bcom computer', 'science(bzc)', 'b.b.m', 'comp science', 'vocational', 'hons.', 'computers (ug)', 'civit', 'community medicine', 'politics', 'bjmc', 'mat', 'electronics engineering', 'b.com.', 'ai & as', 'medicine', 'mangement', 'tb & chest', 'industrial microbiology', 'b.sc-m.p.c', 'btc 2013', 'automobile engineering', 'information security', 'dance-parangat', 'architecture', 'm.sc chemistry(analytical chemistry)', 'computational mathematics', 'science arts', 'infra structural engineering', 'digital communicati ons', 'mass relation', 'polotical', 'construction technology and management', 'd.el.ed', 'd.ed', '(biotechnology))', 'physical science', 'quality assurance', 'pharmacognosy', 'civil and environmental engineering', 'scientific computing', 'vlsi', 'environmental engg.', 'math chemistry', 'co-education', 'construction technology', 'special education (h.i.)', 'drugs and pharmaceuticals', 'political sc', 'nutrition & dietetics', 'chmistry', 'msc cs', 'data science', 'm.com', 'social science', 'molecular virology', 'thermal power engineering', 'computer appplication', 'bio technology', 'arts/commerce/science/maths', 'b.ed.', 'taalvadya-parichay', 'power systems engineering', 'mba 2nd shift', 'nuclear science & engineering', 'dharmashastra', 'pharmaceutics', 'social work', 'power & energy systems', 'structural engineering', 'computer integrated manufacturing', 'social studies', 'biochemistry', 'mpharmacypa', 'spl. education', 'electronics & communication engg.  with specialization in  vlsi design & embedded systems', 'medical surgical nursing', 'material science and engineering', 'veterinary epidemiology & preventive medicine', 'electro nics and commun ications enginee ring', 'fibre optics and communication', 'vlsi design and signal processing', 'nano science & technology', 'hcl', 'btc-2012', 'transportation engineering', 'git', 'dmrd', 'communication and signal processing', 'english geography', 'international business', 'it cs', 'history & archeology', 'aero dynamics', 'cad/cam', 'lab technology', 'mpharmacy', 'punjabi', 'arthroscopy', 'computer science (lateral entry)', 'statistics', 'library', 'arts/science', 'school of management', 'full time', 'pgdca', 'aih', 'lib. & info sci', 'library and information', 'physical edu.', 'chemstry', 'aqua culture', 'biological sciences', 'environmental science', 'dcl', 'library & information & science', 'humanities and social science (h', 'home sc. food & nutrition', 'pg.diploma', 'b.ed', 'technician', 'sciences', 'jmc']

In [24]:
for course in closed_courses:
    df.loc[df['course name'] == course, 'status'] = 'not allowed'

### 위의 방법까지를 숙지할 필요성이 있다.

# 강의실 배정하기

In [87]:
allowed = df['status'] == 'allowed'
allowed.value_counts()

True     1448
False     552
Name: status, dtype: int64

In [88]:
course_counts = df.loc[allowed, 'course name'].value_counts()
auditorium_list = list(course_counts[course_counts >= 80].index)

# 멘탈 나감
## 큰 데이터프레임은 오늘 여기까지