# 데이터 변형하기
## 06. index/column 설정하기
- column 이름 변경(dict 활용)
- index 변경

In [1]:
import pandas as pd

In [3]:
liverpool_df = pd.read_csv('data/liverpool.csv', index_col=0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

#### column 이름 변경
- df.rename()

In [5]:
# column 이름 변경 (rename)
liverpool_df.rename(columns={
    'position': "Position",
'born': 'Born',
'number': 'Number',
'nationality': 'Nationality'}, inplace = True) 
# rename함수는 기존의 데이터프레임을 건들지 않고 새로운 데이터프레임을 만든다.
# 기존의 df를 바꾸고 싶으면 inplace=True

#### index 이름 변경
- df.index.name

In [8]:
# index 이름 변경
liverpool_df.index.name = 'Player Name'
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

#### index를 변경 (index_col)
- df.set_index
- 주의사항: 기존의 인덱스를 새로운 column으로 만들어줘야 한다. 
- 바뀌는 인덱스는 다른 값과 중복되지 않아야 한다.

In [9]:
liverpool_df.index # 현재 인덱스(선수이름)

Index(['Roberto Firmino', 'Sadio Mane', 'Mohamed Salah', 'Joe Gomez',
       'Alisson Becker'],
      dtype='object', name='Player Name')

In [10]:
# 기존 index를 새로운 column에 배정
liverpool_df['Player Name'] = liverpool_df.index
liverpool_df

                Position  Born  Number Nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [12]:
# index_col을 변경
liverpool_df.set_index('Number', inplace=True)
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker