## 실습과제
2,000명의 코드잇 대학교 학생들이 수강신청을 했습니다.


수강신청에는 다음 3개의 조건이 있습니다.


1. “information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.
2. “commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.
3. 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.

기존 DataFrame에 “status”라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 “allowed”, 수강 불가능한 상태이면 “not allowed”를 넣어주세요.

3번 시리즈에서 불린값을 찾아서 해당 인덱스를 리스트에 넣고 for을 통해 해결

In [55]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')

df.head()
df['status'] = 'allowed'

In [56]:
# 조건1
df.loc[(df['course name'] == 'information technology') & (df['year'] == 1), 'status'] = 'not allowed'
df['status'].value_counts()

allowed        1994
not allowed       6
Name: status, dtype: int64

In [57]:
# 조건2
df.loc[(df['course name'] == 'commerce') & (df['year'] == 4), 'status'] = 'not allowed'
df['status'].value_counts()

allowed        1990
not allowed      10
Name: status, dtype: int64

In [58]:
# 조건3
course_count = df['course name'].value_counts()
course_list = list(course_count[course_count<5].index)
for course in course_list:
    df.loc[df['course name'] == course, 'status'] = 'not allowed'

In [59]:
df['status'].value_counts()

allowed        1448
not allowed     552
Name: status, dtype: int64

# 실습과제

수강 신청이 완료되었습니다. 이제 각 과목을 수강하는 학생수에 따라 크기가 다른 강의실을 배치하려고 합니다.


강의실은 규모에 따라 “Auditorium”, “Large room”, “Medium room”, “Small room” 총 4가지 종류가 있습니다.


아래 조건에 따라 강의실 종류를 지정해 주세요.


1. 80명 이상의 학생이 수강하는 과목은 “Auditorium”에서 진행됩니다.
2. 40명 이상, 80명 미만의 학생이 수강하는 과목은 “Large room”에서 진행됩니다.
3. 15명 이상, 40명 미만의 학생이 수강하는 과목은 “Medium room”에서 진행됩니다.
4. 5명 이상, 15명 미만의 학생이 수강하는 과목은 “Small room”에서 진행됩니다.
5. 폐강 등의 이유로 status가 “not allowed”인 수강생은 room assignment 또한 “not assigned”가 되어야 합니다.

In [86]:
df['room assignment'] = 'not assigned'
df.head()

        id  year course name   status room assignment
0  2777729     1     science  allowed    not assigned
1  2777730     2     science  allowed    not assigned
2  2777765     1        arts  allowed    not assigned
3  2777766     2        arts  allowed    not assigned
4  2777785     1         mba  allowed    not assigned

In [68]:
course_count = df['course name'].value_counts()

In [90]:
df.loc[course_count[course_count >= 5], 'room assignment'] = 'Small room'
df.loc[course_count[course_count >= 15], 'room assignment'] = 'Medium room'
df.loc[course_count[course_count >= 40], 'room assignment'] = 'Large room'
df.loc[course_count[course_count >= 80], 'room assignment'] = 'Auditorium'

In [91]:
df['room assignment'].value_counts()

not assigned    1967
Medium room       14
Small room        10
Large room         6
Auditorium         3
Name: room assignment, dtype: int64